.floating-input-container label {
    position: absolute;
    pointer-events: none;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 33%,rgba(255,255,255,1) 71%,rgba(255,255,255,1) 82%,rgba(255,255,255,0) 85%);    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    font-size: 14px;
    color: rgba(52, 58, 64, 0.5);
    line-height: 1;
    left: 8px;
    top: 10px;
    padding: 3;
    box-sizing: border-box;
    font-weight: bold;
}

.floating-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;

}

.floating-input-container:focus-within label {
    transform: translate(0, -16px) scale(0.8);
    color: rgba(52, 58, 64, 0.7);
}

.floating-input-container .filled {
    transform: translate(0, -16px) scale(0.8);
    color: rgba(52, 58, 64, 0.7);

}