.floating-input-container label {
    position: absolute;
    pointer-events: none;
    line-height: 1;
    left: 8px;
    top: 10px;
    padding: -4px 10px;
    box-sizing: border-box;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: rgba(52, 58, 64, 0.5);
    transition: transform 0.4s;
}

.floating-input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

}


.floating-input-container:focus-within label {
    transform: translate(0, -15px) scale(0.8);
    color: #000;
    font-weight: 700 !important;
    margin: 0px 10px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 6%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 68%,rgba(255,255,255,0.45) 80%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 99%);     color: rgba(52, 58, 64, 0.5);
}

.floating-input-container .filled {
    transform: translate(0, -15px) scale(0.8);
    color: #000;
    font-weight: 700 !important;
    margin: 0px 10px;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 6%,rgba(255,255,255,1) 66%,rgba(255,255,255,1) 68%,rgba(255,255,255,0.45) 80%,rgba(255,255,255,0) 90%,rgba(255,255,255,0) 99%);     color: rgba(52, 58, 64, 0.5);
}